<footer class="footer mt-auto py-3">
  <div style="text-align: center" class="container">
    <span class="text-muted">We Welcome You, Master of Code.</span>
    || © 2020 Norrala Consulting - <span class="d-none d-sm-inline-block"> A BugTracker named <i
        class="mdi mdi-heart text-danger"></i> BugTic MERN</span>.
  </div>
</footer>