<!-- Set DB / Data Overview here... -->

    <div class="row">
        <div class="col-xl-12">
            <div class="card m-b-20">
                <div class="card-body">
                    <h4 class="mt-0 m-b-30 header-title">Ticket Summary</h4>

                    <div class="table-responsive">
                        <table class="table table-vertical mb-1">

                            <tbody>
                            <!-- <tr>
                                <td>#12354781</td>
                                <td>
                                    <img src="public/assets/images/users/user-1.jpg" alt="user-image" class="thumb-sm mr-2 rounded-circle"/>
                                    Riverston Glass Chair
                                </td>
                                <td><span class="badge badge-pill badge-success">Solved</span></td>
                                <td>
                                    $185
                                </td>
                                <td>
                                    5/12/2020
                                </td>
                                <td>
                                    <button type="button" class="btn btn-secondary btn-sm waves-effect waves-light">Edit</button>
                                </td>
                            </tr> -->
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>