<%- include("partials/header"); -%>

<div class="wrapper">
    <div class="container-fluid">
        <div class="row">
            <div class="col-xl-3 col-md-6">
                <div class="card mini-stat bg-primary">
                    <div class="card-body mini-stat-img">
                        <div class="mini-stat-icon">
                            <i class="mdi mdi-cube-outline float-right"></i>
                        </div>
                        <div class="text-white">
                            <h6 class="text-uppercase mb-3">Closed today</h6>
                            <h4 class="mb-4">5 </h4>
                            <span class="badge badge-info"> 11% </span> <span class="ml-2">of total</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-md-6">
                <div class="card mini-stat bg-primary">
                    <div class="card-body mini-stat-img">
                        <div class="mini-stat-icon">
                            <i class="mdi mdi-buffer float-right"></i>
                        </div>
                        <div class="text-white">
                            <h6 class="text-uppercase mb-3">Critical</h6>
                            <h4 class="mb-4">4 </h4>
                            <span class="badge badge-warning"> 29% </span> <span class="ml-2">of total</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-md-6">
                <div class="card mini-stat bg-primary">
                    <div class="card-body mini-stat-img">
                        <div class="mini-stat-icon">
                            <i class="mdi mdi-tag-text-outline float-right"></i>
                        </div>
                        <div class="text-white">
                            <h6 class="text-uppercase mb-3">Billing this week</h6>
                            <h4 class="mb-4">5 159 SEK</h4>
                            <span class="badge badge-warning"> 15% </span> <span class="ml-2">of week goal</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-md-6">
                <div class="card mini-stat bg-primary">
                    <div class="card-body mini-stat-img">
                        <div class="mini-stat-icon">
                            <i class="mdi mdi-briefcase-check float-right"></i>
                        </div>
                        <div class="text-white">
                            <h6 class="text-uppercase mb-3">Total billing</h6>
                            <h4 class="mb-4">18 890 SEK</h4>
                            <span class="badge badge-success"> +89% </span> <span class="ml-2">of month goal</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>