<div class="card">
  <div class="card-header">
    My User Profile
  </div>
  <div class="card-body">
    <blockquote class="blockquote mb-0">
      <p>Name: <%- loggedInUserName %></p>
      <p>Email: <%- loggedInUserEmail %></p>
      <footer class="blockquote-footer">Please note that <cite title="Source Title">your account information can and
          will be deleted
          when software/site is updated. Please note that no information that you register on this page will be
          processed
          and/or used for third parties. Your information will be stored on a MongoDB cloud database and your
          information can be erased.
          Note that this software/site is only online for showcase purpose and testing. Please note that all information
          that you enter here
          is NOT fully protected. Nor I Henrik Ekelund, creator of this page or the brand NorralaConsulting.se takes any
          responsibility for your
          information that you enter here. The security-level of this site is low.</cite></footer>
    </blockquote>
  </div>
</div>