<div class="row">
    <div class="col-xl-12">
        <div class="card m-b-20">
            <div class="card-body">
                <h4 class="mt-0 m-b-30 header-title">View All Project Summary</h4>

                <div class="table-responsive">
                    <table class="table table-vertical mb-1">

                        <tbody>
                            <tr>
                                <td>Company Name</td>
                                <td>
                                    <!-- <img src="public/assets/images/users/user-1.jpg" alt="user-image" class="thumb-sm mr-2 rounded-circle"/> -->
                                    Ticket Title
                                </td>
                                <td><span class="badge badge-pill badge-success">STATUS</span></td>
                                <td>
                                    $185 (Tot Billing in ticket)
                                </td>
                                <td>
                                    5/12/2020 (exp compl date)
                                </td>
                                <td>
                                    <button type="button" class="btn btn-secondary btn-sm waves-effect waves-light">View
                                        Tickets</button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>